/* Mini reset CSS */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;

    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(180deg, #68D8E3, #FFFFFF);
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

/* Mini reset CSS */
h1 {
    color: #7645d9;
    font-size: 3em;
}

/* geri dönme tuşu */
.back-home {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #1fc7d4;
    border-radius: 50%;
    margin: 15px 0 0 40px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    transition: 0.3s background-color;
}

.back-home i {
    color: #fff;
    font-size: 2em;
    transition: 0.3s background-color;
}

.back-home:hover {
    background-color: #67d8e3;
    transition: 0.3s background-color;
}

/* geri dönme tuşu */

/* sayaç alanı */
.counter {
    font-size: 6em;
}

.minute-text {
    font-size: 0.3em;
    font-weight: 600;
    color: #7645d9;
}

/* sayaç alanı */

/* sayaç altındaki butonlar */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons>:not(:last-child) {
    margin-right: 50px;
}

.start-btn,
.reset-btn {
    background-color: #1fc7d4;
    color: #fff;
    font-size: 1.5em;
    border: 1px solid #1fc7d4;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
}

.start-btn:hover,
.reset-btn:hover {
    background-color: #67d8e3;
    transition: background-color 0.3s;
}

.reset-btn>i,
.start-btn>i {
    transition: margin-left 0.3s;
}

.reset-btn:hover>i,
.start-btn:hover>i {
    margin-left: 10px;
    transition: margin-left 0.3s;
}

/* sayaç altındaki butonlar */

/* ++ Bilgilendirme mesajları ++ */
/* Sayaç durdu uyarısı */
.message-alert {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border: 3px solid #c7ad5a;
    background-color: #fde7a0;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.message-alert>i {
    margin-right: 25px;
    color: #ffc400;
    font-size: 1.8em;
}

/* Sayaç durdu uyarısı */

/* Sayaç başladı uyarısı */
.message-info {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border: 3px solid #63c75a;
    background-color: #a9faa6;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.message-info>i {
    margin-right: 25px;
    color: #51e60b;
    font-size: 1.8em;
}

/* Sayaç başladı uyarısı */
/* ++ Bilgilendirme mesajları ++ */